@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root {
    --azulclaro: #22d4fd;
    --tom-escuro: #272727;
    --tom-claro: #F6F6F6;
    --cor-destaque: #D8610D; 
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: rgb(24, 23, 23);
    color: var(--tom-claro);
    font-family: Arial, Helvetica, sans-serif;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho_menu {
    display: flex;
    gap: 80px;
}

.cabecalho_menu_link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--cor-destaque);
    text-decoration: none;
}

.apresentacao_container {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao_conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.apresentacao_conteudo_titulo {
    font-size: 2.25rem;
    font-family: "Krona One", sans-serif;
}

.destaque {
    color: var(--cor-destaque);
}

.apresentacao_conteudo_texto {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;;
}

.apresentacao_links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao_conteudo_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.apresentacao_conteudo_links > a {
    display: flex;
    justify-content: center;
    gap: 16px;
    color: var(--tom-claro);
    padding: 21.5px 0;
    margin-top: 2%;
    border: 2px solid var(--cor-destaque);
    border-radius: 8px;
    width: 50%;
    font-size: 1.5rem;
    font-weight: 600px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    text-decoration: none;
}

.apresentacao_conteudo_links > a:hover {
    background-color: var(--tom-escuro);
}

.apresentacao_links_subtitulo {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao_imagem {
    width: 50%;
    border-radius: 50%;
}

.rodape {
    color: black;
    background-color: var(--cor-destaque);
    padding: 1%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

.curriculo_infos {
    padding: 5% 15%;
}

.container_infos_iniciais {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.infos_subtitulo{
    font-family: "Krona One", sans-serif;
}




.infos_texto_skills {
    list-style-type: none;
    display: grid;
    grid-template-rows: 25px 25px 25px; 
    grid-template-columns: 1.5fr 1.5fr 1.5fr;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 12%;
    }

    .cabecalho_menu {
        justify-content: center;
    }

    .apresentacao_container {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao_conteudo {
        width: auto;
    }

    .apresentacao_imagem {
        width: 35%;
    }
}